.vs/
GatewayService.Tests/obj/
GatewayService/bin/
GatewayService/obj/
GatewayService/Properties/PublishProfiles/
GatewayService.Tests/bin/
GatewayService/Logs/
GatewayService/wwwroot/exports/
.idea/
TestResults/
