
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">Bank of Uganda</li>
            <li class="breadcrumb-item">National ID Verification API</li>
            <li class="breadcrumb-item active">Docs</li>
            <li class="breadcrumb-item active">v1.0</li>
        </ol>
    </nav>
