
    <section id="intro">
        <h2>Introduction</h2>
        <hr />
        <p>
            Welcome to the Bank of Uganda National ID Verification API.
        </p>
        <p>
            The API provides an interface that developers of systems that need to verify
            <strong>Ugandan National IDs</strong> can use in a very simple and straightforward way.
            Under the hood, the API interfaces with the <strong>National Identification and Registration Authority</strong> (NIRA) API.
            This means that the endpoints provided by this API as well as request and response times largely depend on the abilities of the NIRA API.
        </p>

        <p>For the rest of this documentation, the term API shall be used to refer to the Bank of Uganda National ID Verification System API.</p>

    </section>
