
    <section id="nira-error-codes">
        <h2>NIRA Error Codes</h2>
        <hr />

        <p>
            Like any web service, the NIRA Web service issues Hypertext Transfer Protocol (HTTP)
            response status codes in response to a client's request made to it. A list can be found here of
            <a href="https://httpstatuses.com/" target="_blank">HTTP statuses</a>.
            Since the API uses a client to make requests to the NIRA Web service,
            two error categories are expected both <b>4xx</b> (<b>client errors</b>) and <b>5xx</b> (<b>server errors</b>) error codes.
            However, the NIRA Web service also returns <b>errors specific</b> to it.
            The table below shows possible errors from the NIRA Web service that you might encounter.
        </p>
        <table class="table mt-2">
            <thead>
                <tr>
                    <th>Code</th>
                    <th>Category</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>202</td>
                    <td>ERROR-C-2000 : User Management Error</td>
                    <td>ERROR-UM-1004</td>
                    <td>When one of the parameters is missing for the <b>Username token</b> (<b>Username</b>, <b>Password</b>, <b>Nonce</b>, <b>Created</b>). Created is the date-time the request to NIRA was created.</td>
                    <td>
                        <b>"Unknown Error"</b> displayed in NIN Response column.
                        <b>"An authentication error occurred. Please contact your systems administrator"</b> displayed in detailed view.
                        Error is logged.
                    </td>
                </tr>
                <tr>
                    <td>202</td>
                    <td>ERROR-C-2000 : User Management Error</td>
                    <td>ERROR-UM-1103</td>
                    <td>Authentication for user <b>bank_name@ROOT</b> failed</td>
                    <td>
                        <b>"Unknown Error"</b> displayed in NIN Response column.
                        <b>"An authentication error occurred. Please contact your systems administrator"</b> displayed in detailed view.
                        Error is logged.
                    </td>
                </tr>
                <tr>
                    <td>202</td>
                    <td>ERROR-C-2000 : User Management Error</td>
                    <td>ERROR-UM-1140</td>
                    <td>Reuse of nonce value for authentication not allowed.</td>
                    <td>
                        <b>"Unknown Error"</b> displayed in NIN Response column.
                        <b>"An authentication error occurred. Please contact your systems administrator"</b> displayed in detailed view.
                        Error is logged.
                    </td>
                </tr>
                <tr>
                    <td>202</td>
                    <td>ERROR-C-2000 : User Management Error</td>
                    <td>ERROR-UM-1142</td>
                    <td>The timestamp used for WSSE authentication is too old. Allowed time difference is <b>+/- 15 minutes</b>.</td>
                    <td>
                        <b>"Unknown Error"</b> displayed in NIN Response column.
                        <b>"An authentication error occurred. Please contact your systems administrator"</b> displayed in detailed view.
                        Error is logged.
                    </td>
                </tr>
                <tr>
                    <td>205</td>
                    <td>Not authorized to use a given endpoint</td>
                    <td></td>
                    <td>User bank_name@ROOT is not authorized to use a given endpoint of the NIRA webservice.</td>
                    <td>
                        <b>"Unknown Error"</b> displayed in NIN Response column.
                        Error is logged.
                    </td>
                </tr>
                <tr>
                    <td>206</td>
                    <td>Expired Password</td>
                    <td></td>
                    <td>The Username/Password token for user <b>bank_name@ROOT</b> has expired!</td>
                    <td>
                        <b>"Unknown Error"</b> displayed in NIN Response column.
                        <b>"An authentication error occurred. Please contact your systems administrator"</b> displayed in detailed view.
                        Error is logged.
                    </td>
                </tr>
                <tr>
                    <td>320</td>
                    <td>Person not found</td>
                    <td></td>
                    <td>NIN not found in the database.</td>
                    <td>
                        <b>"NotFound"</b> displayed in NIN Response column.
                    </td>
                </tr>
                <tr>
                    <td>321</td>
                    <td>Not Citizen</td>
                    <td></td>
                    <td>NIN found in the database but the owner is not a citizen..</td>
                    <td>
                        <b>"Not Citizen"</b> displayed in NIN Response column.
                    </td>
                </tr>
                <tr>
                    <td>322</td>
                    <td>Deceased</td>
                    <td></td>
                    <td>The person passed away.</td>
                    <td>
                        <b>"Deceased"</b> displayed in NIN Response column.
                    </td>
                </tr>
            </tbody>
        </table>

        <div class="alert alert-warning">
            <b>*</b> All errors are billable.
            <br />
            <b>*</b> The National ID verification API has been developed and tested to ensure some errors in the User Management category do not occur.
            <br />
            <b>*</b> The table above is not exhaustive as NIRA has a list error codes. These are the ones we encountered.
        </div>

    </section>
