@using Microsoft.Extensions.Options;
@using GatewayService.Helpers

@inject IOptions<AuthServiceSettings>   _authOptions;

<section id="servers">
    <h2>Servers</h2>
    <hr />

    <h5>Authorization Server</h5>
    <p>This is responsible for issuing and managing access tokens.</p>
    <table class="table mt-2">
        <thead>
            <tr>
                <th>Environment</th>
                <th>Url</th>
                <th>Comments</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Sandbox</td>
                    @if (string.IsNullOrWhiteSpace(_authOptions.Value.Authority))
                        {
                        <td>Contact your systems admin for this</td>
                        }
                    @if (!string.IsNullOrWhiteSpace(_authOptions.Value.Authority))
                        {
                            <td> @_authOptions.Value.Authority</td>
                        }
                <td>Use this for testing during development</td>
            </tr>
            <tr>
                <td>Production</td>
                <td>Contact your systems admin for this</td>
                <td>Use this when your application is in production</td>
            </tr>
        </tbody>
    </table>

    <h5>BNVS API</h5>
    <table class="table">
        <thead>
            <tr>
                <th>Environment</th>
                <th>Url</th>
                <th>Comments</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Sandbox</td>
                <td>Contact your systems admin for this</td>
                <td>Use this for testing during development</td>
            </tr>
            <tr>
                <td>Production</td>
                <td>Contact your systems admin for this</td>
                <td>Use this when your application is in production</td>
            </tr>
        </tbody>
    </table>

    <div class="alert alert-danger">
        * All requests to both services have to be made via HTTPS.
    </div>

</section>
