@{
    ViewData["Title"] = "Docs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="iframe-container">
    <iframe id="docs" scrolling="auto"
            allowfullscreen
            src="/spec">
    </iframe>
</div>